.page {
    margin-bottom: 129px;
}
.firstSection {
    height: 460px;
    background: rgba(227, 227, 227, 0.56);
}
.yellow {
    margin-left: 0;
}
.diagonal {
    position: absolute;
    left: -3px;
    top: 191px;
}
.content_text h1 {
    font-size: 96px;
    margin-left: 126px;
    color: #070D3F;
}

.dot {
    width: 15px;
    height: 15px;
    background: #FDDB16;
    margin-left: 418px;
    margin-top: -40px;
}
.description {
    margin-top: 25px;
    margin-bottom: 30px;
    max-width: 420px;
    color: #555252;
    margin-left: 133px;
    font-size: 18px;

}
.btn-yellow {
    position: absolute;
    left: 133px;
    display: inline-block;
    min-width: 230px;
    height: 60px;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background: #FDDB16;
    border-radius: 20px;

}
.src_home {
    color: black;
    font-weight: 500;
}
.back {
    position: absolute;
    right: 0;
    top: 233px;
}
.red {
    position: absolute;
    right: 70px;
    margin-top: 184px;
}
.ellipse_white {
    position: absolute;
    right: 95px;
    margin-top: 186px;
}
.side {
    position: absolute;
    right: 261px;
    top: 171px;
}





.recommendations_block {
    display: flex;
    margin-left: 136px;
    margin-top: 40px;

}

.recommendations {
    width: 233px;
    height: 123px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.informationOfCap{
    margin-left: 21px;
    color: #555252;
    font-size: 18px;
}

.mini {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.mini_info {
    color: #847E7E;
}
.mini_info p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}
.mini_info span {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}


.swiper {
    justify-content: center;
    display: flex;
}

.slider {

    justify-content: center;
    align-items: center;
}

.arrow {
    margin-top: 105px;
}

.Photos {
    justify-content: space-around;
    width: 100%;
    display: flex;

}

.brands {
    display: flex;
    justify-content: center;
}

.price_sale {
    color: #FDDB16;
    font-weight: bold;
}

.title h1 {
    text-align: center;
}


.text {
    text-align: center;
    color: #847E7E;
}

.text h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.05em;

}

.vector {
    justify-content: center;
}

.btn.btn-yellow {
    background-color: #FDDB16;
}
.btn-yellow:hover {
    background-color: cyan;
    transition-duration: 1s;
}

.vector {
    display: contents;
    align-items: end;
}

.mini_dot {
    width: 10px;
    height: 10px;
    background: #FDDB16;
    margin-left: 856px;
    margin-top: -17px;
}

.slider_1 {
    padding-bottom: 58px;
}


.test {
    margin-bottom: 12px;
}
.price_sale {
    font-weight: 700;
    font-size: 14px;
    color: #FDDB16;
    float: right;
}
.price_cap {
    text-align: center;
    color: #FDDB16;
    font-weight: bold;
}





.wrapper3 {
    
    height: 529px;
    background: linear-gradient(93.98deg, #FDDB16 0.21%, #FFB800 100%);
}
.block {
    margin-left: 136px;
    padding-top: 40px;
}
.content {
    display: flex;
}
.mini_block {
    width: 233px;
    height: 123px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 40px;
    margin-right: 66px;
}
.recommendation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name_cap {
    color: #847E7E;
}
.recommendation p {
    font-size: 10px;
    color: #847E7E;
}
.priceCap {
    left: 21px;
    padding-top: 12px;
    color: #FDDB16;
}
.middle_content {
    margin-top: 96px;
}
.collaboration {
    margin-left: 42px;
}
.collaboration h1 {
    font-size: 36px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.collaboration p {
    font-size: 36px;
    color: #FFFFFF;
}
.btn_violet {
    width: 230px;
    height: 60px;
    border: none;
    background: #670098;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    margin-top: 35px;
}
.big_img1 {
    position: absolute;
    margin-top: -171px;
    right: 10px;
}
.cap_photo {
    margin-top: 10px;
}
.ellipse_violet {
    position: absolute;
    margin-top: -73px;
    right: 128px;
    background-color: #4A0E67;
    border-radius: 60px;

}



.wrapper4 {
    margin-top: 144px;
    margin-left: 135px;
    margin-right: 135px;
}
.name_number {
    font-size: 30px;
    font-weight: 700;
}
.result {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.numbers-item h1 {
    font-weight: 700;   
    color: #FDDB16;
}