.wrapper {
    margin-left: 135px;
    margin-top: 70px;
    margin-right: 135px;
}
.cap-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.trait {
    display: block;
    width: 1223px;
    height: 2px;
    background-color: #847E7E;
    margin-top: 50px;
    margin-bottom: 50px;
}
.counter_cap {
    display: flex;
    width: 119px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #847E7E;
    border-radius: 10px;
    font-size: 24px;
    color: #847E7E;
    justify-content: space-around;
    padding-top: 8px;
}
.black {
    color: black;
}
.size {
    font-size: 24px;
    text-align: center;
    display: flex;
}
.adapter {
    cursor: pointer;
    width: 70px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    color: #847E7E;
}
.active {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    border: 1px solid #000000;
}
.name_cap {
    line-height: 29.26px;
}
.name_cap p {
    font-weight: 500;
    font-size:14px;
}
.price_cap h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FDDB16; 
}
.wrapper__info {
    justify-content: space-between;
}
.input {
    display: block;
    width: 400px;
    height: 51px;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 18px;
}
.buy {
    margin-top: 103px;
    float: right;
}
.btn {
    display: inline-block;
    min-width: 450px;
    height: 80px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 24px;
    border: none;
}
.btn.btn-yellow {
    background-color: #FDDB16;
}