.header_src {
    text-decoration: none;
    margin: 28px;
    color: #555252;
    font-weight: 600;
}
.down_header_src {
    text-decoration: none;
    margin: 28px;
}
.App-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #847E7E;
    margin: 30px 135px 44px ;
}
.input__search {
    margin-right: 45px;
}
.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    font-size: 20px;
}

.headerlogo {
    padding: 0px 79px 0px 0px;
}

.search {
    padding: 10px;
    width: 270px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.logo__loupe {
    background: url('../../photo/loupe.svg') no-repeat center right 10px;
}

a:hover{
    border-bottom: 2px solid #847E7E;
}

span{
    width: 154px;
}
.menu {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    margin-left: 134px;
}
.Link {
    color: #FDDB16;
}